<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCfKBRNestm0QTj9iILuBtXmP3H6INIjxY</string>
	<key>GCM_SENDER_ID</key>
	<string>494428248102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.webapp</string>
	<key>PROJECT_ID</key>
	<string>web-app-kmy3v3</string>
	<key>STORAGE_BUCKET</key>
	<string>web-app-kmy3v3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494428248102:ios:4d6f83bf5aed98cabd6ee7</string>
</dict>
</plist>